body {
  background-image: url("./FML.jpg");
  background-color: rgb(255, 255, 255);
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  inset: 0;
  margin: 0;
}

.text-primary {
  background-color: #00000077 !important;
  border: 3px solid #000000 !important;
  color: #ffffff !important;
  font-family: Arial, sans-serif;
  font-size: 45px;
  padding: 10px;
  text-align: left;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000 !important;
}
