body {
    background-image: url('./FML.jpg');
    background-color: rgb(255, 255, 255);
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 115px;
}

h1 {
    border: 3px solid black; /* Adiciona uma borda preta de 2px ao texto */

    text-align: center;
    color: white;
    border: 2px solid black; /* Adiciona uma borda preta de 2px */
    background-color: #0066ffc6; /* Define a cor de fundo para cinza claro */
    padding: 10px; /* Adiciona um pouco de espaço ao redor do texto */
    font-size: 35px; /* Aumenta o tamanho da fonte */
    font-family: Arial, sans-serif; /* Muda a fonte para Arial */

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    border: 3px solid black; /* Adiciona uma borda preta de 2px ao texto */

    text-align: left;
    color: white;
    border: 2px solid black; /* Adiciona uma borda preta de 2px */
    background-color: #0000007c; /* Define a cor de fundo para cinza claro */
    padding: 10px; /* Adiciona um pouco de espaço ao redor do texto */
    font-size: 35px; /* Aumenta o tamanho da fonte */
    font-family: Arial, sans-serif; /* Muda a fonte para Arial */

    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

* {
    caret-color: transparent;
  }

  .navbar {
    display: flex;
    overflow-x: auto;
    background-color: #ffffff;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar a {
    border: 2px solid #000000;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin:10px;
    border-radius: 20px;
}

.navbar a:hover {
background-color: #ddd;
color: black;
}

a, .common {
    border: 2px solid #ffffff;
    background-color: #5599ff;
    padding: 10px;
    font-size: 35px;
    font-family: Arial, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #ffffff;
    display: inline-block;
}

.color {
    background-color: #0066ff;
}