/* Estilos básicos */
body {
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    

}
* {
    caret-color: transparent;
}
/* Estilos de texto */
h1, h2 {
    text-align: center;
}
.text-primary {
    border: 3px solid rgb(255, 255, 255);
    text-align: left;
    color: rgb(0, 0, 0);
    background-color: #ffffffbc;
    padding: 10px;
    font-size: 45px;
    font-family: Arial, sans-serif;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}
/* Estilos de link */
a, .common {
    border: 3px solid #ffffff;
    background-color: #5599ff;
    padding: 10px;
    font-size: 35px;
    font-family: Arial, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #ffffff;
    display: inline-block;
    border-radius: 20px;
    transition: all 0.5s;
}
.link {
    text-decoration: none;
    white-space: nowrap;
    margin-bottom: 5px;
    display: inline-block;
    outline: 3px solid;
    animation: rgb 2s linear infinite;
    margin:10px;
    border-radius: 20px;
    transition: all 0.5s;
}

.link1 {
    text-decoration: none;
    white-space: nowrap;
    margin-bottom: 5px;
    display: inline-block;
    margin:10px
    
}
/* Estilos de navbar */
.navbar-container {
    position: relative;
    width: 100%;
}

.navbar {
    display: flex;
    
    overflow-x: auto;
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    scrollbar-color: #06f transparent;
}

.fade-out {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    opacity: 1;
}


.navbar a {
    border: 3px solid #ffffff;
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin:10px;
    border-radius: 20px;
    transition: all 0.5s;
}

.navbar a:hover, .link1 a:hover, h2 a:hover {
    background-color: #ffffff;
    color: black;
    border-color: #5599ff;
    text-shadow: -1px 0 #5599ff, 0 1px #5599ff, 1px 0 #5599ff, 0 -1px #5599ff;
    transform: scale(1.20);

    margin-inline: 40px;
}

h2 a:hover {
    background-color: #ffffff;
    color: black;
    border-color: #000000;
    text-shadow: -1px 0 #5599ff, 0 1px #5599ff, 1px 0 #5599ff, 0 -1px #5599ff;
    transform: scale(1.20);

    margin-inline: 40px;
}


.link:hover{
    background-color: #ffffff;
    color: black;
    border-color: #5599ff;
    text-shadow: -1px 0 #5599ff, 0 1px #5599ff, 1px 0 #5599ff, 0 -1px #5599ff;
    transform: scale(1.12);

    margin-inline: 55px;

}
.container a:hover{
    background-color: #000000;
    color:#ffffff;
    transform: scale(1.25);
    margin-left:50px;
    
}
/* Estilos de container */
.container {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
}
/* Estilos de botão */
#calculateButton {
    font-size: 40px;
    padding: 20px 40px;
    background-color: #5599ff;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    outline: 3px solid;
    animation: rgb 2s linear infinite;
}
#calculateButton:hover {
    background-color: #1a72f5;
}
/* Estilos de cor */
.color {
    background-color: #0066ff;
}
/* Estilos de ícone */
.fab {
    font-size: 75px;
}
/* Estilos de entrada */
#weight, #height, #a, #b, #c, #x, #y, #texto1, #texto2, #myInput {
    caret-color: auto;
}
/* Estilos ocultos */
.aa {
    display: none;
    width: 33%;
}


@keyframes rgb {
    0% {outline-color: red;}
    14% {outline-color: orange;}
    28% {outline-color: yellow;}
    42% {outline-color: lime;}
    57% {outline-color: blue;}
    71% {outline-color: indigo;}
    85% {outline-color: violet;}
    100% {outline-color: red;}
}

.container a {
    background-color:rgb(255, 255, 255);
    color: #000000;
    outline: 4px solid;
    animation: rgb 2s linear infinite;
    transition: all 0.5s;
    border: 2px solid #000000;
}

#changeBackground {
    position: absolute;
    top: 115px;
    right: 0;
    background: none !important;
    border:none;
}
#changeBackground img {
    width: 200px; /* Ajuste o valor conforme necessário */
    height: auto;
    border-radius: 100%;
    border: 3px solid black;
}
.container i{
    color: #ffffff;
}
hr {
    border: none;
    border-top: 10px solid #ffffff;
} 

.logo-image {
    align-self: center;
}

#myChart {

    width: 1px;
    height: 1px;
    outline: 3px solid;
    color: #5599ff;
}

.common1 {
    border: 3px solid #ffffff;
    background-color: #5599ff;
    padding: 10px;
    font-size: 26px;
    font-family: Arial, sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #ffffff;
    display: inline-block;
    border-radius: 20px;
    
}

.title-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #5599ff;
    border-top: 10px solid #ffffff;
    border-bottom: 10px solid #ffffff;
}

